# Richard Jones, 22/07/2023 - Custom Tmux config
## General Settings

set -g default-terminal "xterm-256color"
set -g history-limit 5000
setw -g xterm-keys on
set -s escape-time 10                     # faster command sequences
set -sg repeat-time 600                   # increase repeat timeout
set -s focus-events on

## Change the default key binding from Ctrl+b to Ctrl+a
unbind C-b
set -g prefix C-a

## mouse support 
set -g mouse on

## Hot reload Ctrl+r
bind-key r source-file ~/.tmux.conf \; display-message "~/.tmux.conf reloaded"

## Change split panes to v,h
bind h split-window -h
bind v split-window -v
unbind '"'
unbind %

## Display

set -g base-index 1           # start windows numbering at 1
setw -g pane-base-index 1     # make pane numbering consistent with windows
setw -g automatic-rename on   # rename window to reflect current program
set -g renumber-windows on    # renumber windows when a window is closed
set -g set-titles on          # set terminal title

## Activity
set -g monitor-activity on
set -g visual-activity off
